<!DOCTYPE html>
<html>
  <head>
    <% include ./top/head.ejs %>
 
  </head>
<body>
  <div><% include ./top/nav.ejs %></div>
</body>
  <body>
    
   </body>
  <body>
   
    <% include ./top/bookinfo.ejs %>
  </body>
</html>